:root {
    --desktop-margin: 135px;
    --tablet-margin: 65px;
    --mobile-margin: 40px;
    --background-theme: #beb49e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h1,
h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.card {
    background-color: aliceblue;
    box-shadow: 0px 0.01em 1em black;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.icon-container {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.icon-container i {
    font-size: 1.8rem;
    color: black;
}

.social-links {
    transition: 0.2s ease-in-out;
}

.social-links:hover {
    transform: scale(1.1);
}


/* #region HEADER STYLES */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px var(--desktop-margin) 0 var(--desktop-margin);
}

.header-background {
    position: absolute;
    top: -130px;
    width: 100%;
    height: 620px;
    z-index: -1;
    transform: skewY(-10deg);
    background-color: var(--background-theme);
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image-container {
    position: relative;
    text-align: center;
    color: white;
}

.header-image-container img {
    max-width: 400px;
}

.header-image-container h2 {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 15px;
    font-size: 2.3rem;
    width: 100%;
}

.header-bio-container {
    padding: 30px;
}

.header-bio-container h2 {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0 0 20px 0;
}

.header-bio-text {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

/* #endregion */


/* #region MAIN STYLES */

.main {
    margin: 60px var(--desktop-margin) 60px var(--desktop-margin);
}

.main-title {
    margin-bottom: 20px;
    font-size: 2.2rem;
}

.projects-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}

.project {
    padding: 10px 20px 70px 20px;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in-out;
}

.project:hover {
    transform: scale(1.015);
}

.project>* {
    flex: 1;
}

.project-image {
    flex-basis: 70%;
}

.project-description {
    flex-basis: 30%;
    padding: 14px 10px 0 10px;
}

.project-nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.project-nav h2 {
    font-size: 1.3rem;
    font-weight: 500;
}

.project-icon-container {
    display: flex;
    gap: 8px;
}

.project-icon-container a svg {
    width: 1.6rem;
}

.project-text {
    margin-top: 12px;
}

/* #endregion */


/* #region FOOTER STYLES */

.footer {
    display: flex;
    padding: 60px var(--desktop-margin) 60px var(--desktop-margin);
    justify-content: space-between;
    background-color: var(--background-theme);
    gap: 40px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    max-width: 400px;
}

.contact-container h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    align-self: flex-start;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.contact-icon {
    display: flex;
    gap: 8px;
}

.contact-icon svg {
    width: 1.2rem;
    fill: white;
}

/* #endregion */


/* #region QUERIES */

/* TABLET */
@media (min-width: 600px) and (max-width: 1200px) {
    body {
        margin: 0;
    }

    .header {
        margin: var(--tablet-margin);
    }

    .header-content {
        display: block;
    }

    .header-image-container {
        float: left;
        margin: 0 -25px -33px 0;
        transform: translate(-15%, -10%);

    }

    .header-image-container img {
        height: 350px;
        width: 250px;
    }

    .header-image-container h2 {
        width: 100%;
        font-size: 1.6rem;
        bottom: 15px;
    }

    .main {
        margin: var(--tablet-margin);
    }

    .projects-container {
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    }

    .footer {
        padding: 60px var(--tablet-margin) 60px var(--tablet-margin);
    }

    .footer-image {
        max-width: 280px;
    }

}

/* MOBILE */
@media (max-width: 599px) {
    body {
        margin: 0;
    }

    .header {
        margin: 50px var(--mobile-margin);
    }

    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-image-container img {
        height: 450px;
        width: 270px;
    }

    .header-image-container h2 {
        font-size: 2.2rem;
        top: 30px;
    }

    h2 {
        text-align: center;
    }

    .header-bio-container {
        background-color: white;
        box-shadow: 0 0 0;
        margin-top: 30px;
        padding: 0 0 20px 0;

    }

    .header-bio-icon-container {
        justify-content: center;
        gap: 28px;
    }

    .main {
        margin: 0 var(--mobile-margin) 50px var(--mobile-margin);
    }

    .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    }

    .contact-container {
        padding: 50px var(--mobile-margin);
    }

    .contact-container div:last-child {
        margin-top: 20px;
    }

    .footer {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-image {
        max-width: 100%;
    }

}

/* #endregion */